<dev class="uk-section">
    <div class="uk-container">
        ერასმუს+ არის ევროკავშირის შვიდწლიანი პროგრამა, რომელიც დაიწყო 2014 წელს და გაგრძელდება 2020 წლამდე. მისი ბიუჯეტი შეადგენს 14.7 მილიარდ ევროს, რომელიც გადანაწილებულია სხვადასხვა სფეროებზე - განათლება, ახალგაზრდული საქმე, სპორტი და სხვა.
        ამ საიტის მიზანია საქართველოს მოქალაქეებს მიაწოდოს ინფორმაცია ერასმუს+ ახალგაზრდული სფეროს აქტივობებზე. თუ თქვენ დაინტერესებული ხართ სტუდენტთა მობილობით, სამაგისტროს უცხოეთში გავლით და ა.შ., თქვენ ეს ვებ-გვერდი არ გამოგადგებათ. ამისთვის შეგიძლიათ მიმართოთ <a href="http://erasmusplus.org.ge/" target="_blank">ერასმუს+ ეროვნულ ოფისს</a>
        , რომელიც სწორედ ამ თემებზე მუშაობს.</div>

    </dev>

